
//colors
$white: #fff;
$platinum: #E6E7E7;
$Light-gray: #D1D1D1;
$fuzzy-wuzzy: #E56353;
$Ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;
$Eerie-black: #121619;
$raisin-black: #222323;
$nickel: #6C6E70;

//fonts
$Roboto: 'Roboto', sans-serif;
$Playfair: 'Playfair Display', serif;
//font weights
$regular: 400;
$black: 900i;
$light: 300;

// Font Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;
