.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 15%;
  background-color: #E6E7E7;
}
.container{
  margin-top: 5%;
}
.texto{
  color: white;
}
