header{
  background-image: url('../img/post-image.jpg');
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
p{
  margin-top: 5%;
}
.texto{
  color: white;
}
